/*
##############################################
	PAGE
##############################################
*/
	/*
	============================================
		MAP LINKS
	============================================
	*/
		.page-map-links{
			margin: 0;
			padding: 0;
			border-radius: 3px;
			background-color: #FFF;
			box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
		}
		.page-map-links > li{
			display: block;
		}
		.page-map-links > li a{
			display: block;
			text-decoration: none;
			color: inherit;
			padding: 15px;
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}
		.page-map-links > li a:hover, 
		.page-map-links > li a:focus{
			outline: none;
			background-color: rgba(0,0,0,0.1);
		}
		.page-map-links > li:hover .page-map-sub{
			display: block;
		}
		.page-map-links > li .page-map-sub{
			animation-name: fadeIn;
			animation-duration: 0.5s;
			display: none;
			margin: 0;
			padding: 0;
			background-color: #F4F4F4;
		}
		.page-map-links > li .page-map-sub > li{
			display: block;
		}
		.page-map-links > li .page-map-sub > li a{
			display: block;
			font-size: 14px;
			padding: 10px 15px;
		}
		.page-map-links > li.page-map-header{
			padding: 15px;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			background-color: #F59A2C;
			font-size: 22px;
			color: #FFF;
		}
		.page-map-links > li.page-map-header .fa{
			margin-right: 15px;
		}
	/*
	============================================
		//MAP LINKS
	============================================
	*/
	/*
	============================================
		HEADER
	============================================
	*/
		.page-header{
			padding: 120px 0;
			background-color: #F59A2C;
			color: #FFF;
		}
		.page-header h1{
			margin: 0;
			margin-bottom: 10px;
			font-size: 62px;
		}
		.page-header h1 span{
			font-weight: 300;
			font-size: 14px;
		}
		.page-header p{
			margin: 0;
			font-size: 18px;
			font-weight: 300;
		}
	/*
	============================================
		//HEADER
	============================================
	*/

	/*
	============================================
		MAIN
	============================================
	*/
		.page-main{
			padding: 40px 0;
			background-color: #f4f4f4;
		}
	/*
	============================================
		//MAIN
	============================================
	*/

	/*
	============================================
		SECTION
	============================================
	*/
		.page-section{
			padding: 30px 20px;
			border-radius: 3px;
			background-color: #FFF;
			box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
			margin-bottom: 20px;
		}
		.page-section header{
			margin-bottom: 10px;
		}
		.page-section h2{
			font-size: 36px;
			margin: 0;
		}

		/*
		----------------------------------------
			ITEM
		----------------------------------------
		*/
			.page-section-item{
				margin-bottom: 20px;
			}
			.page-section-item p span{
				display: block;
				font-size: 12px;
			}
			.page-section-item .page-section-item-header h3{
				margin: 0;
				margin-bottom: 10px;
				font-size: 28px;
			}
			.page-section-item .form-field .field-label span{
				display: block;
				margin: 10px 0;
			}
			.page-section-item .form-field .field-label code{
				font-size: 12px;
				margin: 0;
			}
		/*
		----------------------------------------
			//ITEM
		----------------------------------------
		*/
	/*
	============================================
		//SECTION
	============================================
	*/
/*
##############################################
	//PAGE
##############################################
*/