/*
##################################
	HELPER
##################################
*/

	/*
	//////////////////////////////////////
		POSITON
	//////////////////////////////////////
	*/
		/*
		============================================
			TEXT
		============================================
		*/
			/*
			-----------------------
				Center
			-----------------------
			*/
				.text-center{
					text-align: center;
				}
			/*
			-----------------------
				//Center
			-----------------------
			*/

			/*
			-----------------------
				Left
			-----------------------
			*/
				.text-left{
					text-align: left;
				}
			/*
			-----------------------
				//Left
			-----------------------
			*/

			/*
			-----------------------
				Right
			-----------------------
			*/
				.text-right{
					text-align: right;
				}
			/*
			-----------------------
				//Right
			-----------------------
			*/
		/*
		============================================
			//TEXT
		============================================
		*/

		/*
		============================================
			ELEMENT
		============================================
		*/
			/*
			-----------------------
				Center
			-----------------------
			*/
				.center{
					margin: 0 auto;
				}
			/*
			-----------------------
				//Center
			-----------------------
			*/

			/*
			-----------------------
				Left
			-----------------------
			*/
				.left{
					float: left;
				}
			/*
			-----------------------
				//Left
			-----------------------
			*/

			/*
			-----------------------
				Right
			-----------------------
			*/
				.right{
					float: right;
				}
			/*
			-----------------------
				//Right
			-----------------------
			*/

			/*
			-----------------------
				No Float
			-----------------------
			*/
				.no-float{
					float: none;
				}
			/*
			-----------------------
				//No Float
			-----------------------
			*/
		/*
		============================================
			//ELEMENT
		============================================
		*/
	/*
	//////////////////////////////////////
		//POSITON
	//////////////////////////////////////
	*/

	/*
	=============================
		CODE
	=============================
	*/
		code{
			vertical-align: baseline;
			padding: 3px 5px;
			border-radius: 3px;
			background-color: #eee;
			color: #e74c3c;
			/*
			-------------------------------
				TAG
			-------------------------------
			*/
				&.tag{
					&::before{
						content: "<";
					}
					&::after{
						content: ">";
					}
				}
			/*
			-------------------------------
				//TAG
			-------------------------------
			*/
		}
	/*
	=============================
		//CODE
	=============================
	*/

	/*
	============================
		TEXT
	============================
	*/
		/*
		----------------------------
			NOTIFICATION
		----------------------------
		*/
			.text-notification{
				line-height: 1.7;
				padding: 15px;
				border-radius: 3px;
				background-color: #fbfbfb;
				color: rgba(0,0,0,0.6);
			}
		/*
		----------------------------
			//NOTIFICATION
		----------------------------
		*/
	/*
	============================
		//TEXT
	============================
	*/
/*
##################################
	//HELPER
##################################
*/