/*
##################################
	HELPER
##################################
*/

	/*
	//////////////////////////////////////
		POSITON
	//////////////////////////////////////
	*/
		/*
		============================================
			TEXT
		============================================
		*/
			/*
			-----------------------
				Center
			-----------------------
			*/
				.text-center{
					text-align: center;
				}
			/*
			-----------------------
				//Center
			-----------------------
			*/

			/*
			-----------------------
				Left
			-----------------------
			*/
				.text-left{
					text-align: left;
				}
			/*
			-----------------------
				//Left
			-----------------------
			*/

			/*
			-----------------------
				Right
			-----------------------
			*/
				.text-right{
					text-align: right;
				}
			/*
			-----------------------
				//Right
			-----------------------
			*/
		/*
		============================================
			//TEXT
		============================================
		*/

		/*
		============================================
			ELEMENT
		============================================
		*/
			/*
			-----------------------
				Center
			-----------------------
			*/
				.center{
					margin: 0 auto;
				}
			/*
			-----------------------
				//Center
			-----------------------
			*/

			/*
			-----------------------
				Left
			-----------------------
			*/
				.left{
					float: left;
				}
			/*
			-----------------------
				//Left
			-----------------------
			*/

			/*
			-----------------------
				Right
			-----------------------
			*/
				.right{
					float: right;
				}
			/*
			-----------------------
				//Right
			-----------------------
			*/

			/*
			-----------------------
				No Float
			-----------------------
			*/
				.no-float{
					float: none;
				}
			/*
			-----------------------
				//No Float
			-----------------------
			*/
		/*
		============================================
			//ELEMENT
		============================================
		*/
	/*
	//////////////////////////////////////
		//POSITON
	//////////////////////////////////////
	*/
/*
##################################
	//HELPER
##################################
*/